<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="keywords关键词，是告诉搜索引擎你的网站或页面内容主要围绕哪些词组展开的，每个关键词不宜过长；有多个关键词的话，尽量将重要的关键词放在前面，次要的往后排。" />
    <meta name="description" content="用简短的文字描述网站或网页的主要内容，有利于各大搜索引擎的抓取收录你的网站或网页。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
    <div id="root"></div>
</body>

</html>